# Editor config
.idea

# Oauth keys
/shiksha-drupal/keys/private.key
/shiksha-drupal/keys/public.key

# Ignore configuration files that may contain sensitive information
/shiksha-drupal/web/sites/*/*settings.*.php
/shiksha-drupal/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/shiksha-drupal/web/sites/*/files
/shiksha-drupal/web/sites/*/public
/shiksha-drupal/web/sites/*/private
/shiksha-drupal/web/sites/*/files-public
/shiksha-drupal/web/sites/*/files-private

# Ignore paths that may contain temporary files
/shiksha-drupal/web/sites/*/translations
/shiksha-drupal/web/sites/*/tmp
/shiksha-drupal/web/sites/*/cache

# Ignore testing related files
/shiksha-drupal/web/sites/simpletest

# Ignore shiksha-drupal core (if not versioning shiksha-drupal sources)
/shiksha-drupal/web/core
/shiksha-drupal/web/modules/README.txt
/shiksha-drupal/web/profiles/README.txt
/shiksha-drupal/web/sites/README.txt
/shiksha-drupal/web/sites/example.sites.php
/shiksha-drupal/web/sites/example.settings.local.php
/shiksha-drupal/web/sites/development.services.yml
/shiksha-drupal/web/themes/README.txt
/shiksha-drupal/web/vendor
/shiksha-drupal/web/.csslintrc
/shiksha-drupal/web/.editorconfig
/shiksha-drupal/web/.eslintignore
/shiksha-drupal/web/.eslintrc.json
/shiksha-drupal/web/.gitattributes
/shiksha-drupal/web/.htaccess
/shiksha-drupal/web/.ht.router.php
/shiksha-drupal/web/autoload.php
# /shiksha-drupal/web/composer.json
# /shiksha-drupal/web/composer.lock
/shiksha-drupal/web/example.gitignore
/shiksha-drupal/web/index.php
/shiksha-drupal/web/INSTALL.txt
/shiksha-drupal/web/LICENSE.txt
/shiksha-drupal/web/README.txt
/shiksha-drupal/web/robots.txt
/shiksha-drupal/web/update.php
/shiksha-drupal/web/web.config

# Ignore files included by composer
/shiksha-drupal/vendor
/shiksha-drupal/web/modules/contrib

# Node.js / JavaScript stuff
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and *not* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Editor/IDE specific
.vscode
.idea